<table border="1" width="100%">
<td><a  href="<%= bolt_articles_path %>" ><b>Articles</b></a>
<td><a  href="<%= bolt_categories_path %>" ><B>Categories</b></a>
<% for i in 1..100 %>
     &nbsp;
<%end%>
</td>
</table>