<table>
  <tr>
   <td style="padding:10px;">
User Manager<br/>&nbsp;&nbsp;&nbsp;<a  href="/bolt/users" ><%= image_tag("user.png") %></a>
   </td>
   <td style="padding:10px;">
Article Manager<br/>&nbsp;&nbsp;&nbsp;<a  href="/bolt/articles" ><%= image_tag("article.png") %></a>
  </td>
  </tr>
</table>
