<table  width="100%">
<td><a  href="<%= bolt_articles_path %>" ><b>Articles</b></a></td>
<td><a  href="<%= bolt_categories_path %>" ><B>Categories</b></a></td>
<td><a  href="<%= bolt_accesses_path %>" ><B>Accesses</b></a></td>
<td><a  href="<%= bolt_statuses_path %>" ><B>Statuses</b></a>
<% for i in 1..100 %>
     &nbsp;
<%end%>
</td>
</table>