	
	.naviagtion ul {
			font-family: Arial, Verdana;
			font-size: 14px;
			margin: 0;
			padding: 0;
			list-style: none;
			z-index:999;
		}
			.naviagtion ul li {
			display: block;
			position: relative;
			float: left;
		}
			.naviagtion li ul { display: none; }
			.naviagtion ul li a {
			display: block;
			text-decoration: none;
			/*color: #ffffff;*/
			border-top: 1px solid #ffffff;
			padding: 5px 15px 5px 15px;
			background:lightGrey ;
			margin-left: 1px;
			white-space: nowrap;
		}
		
<<<<<<< HEAD
			.naviagtion ul li a:hover { background:White; }
=======
			.naviagtion ul li a:hover { background:#E18B6B; }
>>>>>>> c50c223132d14832a765101e5b5d81b7c3a3bed9
			.naviagtion li:hover ul { 
			display: block; 
			position: absolute;
		}
			.naviagtion li:hover li { 
			float: none;
			font-size: 11px;
		}
		
<<<<<<< HEAD
			.naviagtion li:hover a { background:lightgrey; }
			.naviagtion li:hover li a:hover { background:#87CEEB; }
=======
			.naviagtion li:hover a { background:#966BFA; }
			.naviagtion li:hover li a:hover { background:#98AFC7; }
>>>>>>> c50c223132d14832a765101e5b5d81b7c3a3bed9
			
#active {
			display: block;
			text-decoration: none;
			color: #fff;
			border-top: 1px solid #ffffff;
			padding: 5px 15px 5px 15px;
			background:#9966CC ;
			margin-left: 1px;
			white-space: nowrap;
		}